<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <div class="current__container">

        <div class="img__btn">
            <a href='/' class='icon__image'><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2KcO5NR3iyA-5NkPU3OrtB8IgPnvj2We-Ig&usqp=CAU' alt='Home' class='image__header'/></a>
            <form action=<%= `/edit/${user}/${id}` %> class="todo__form" method='POST'>
                <input type='text' name='utodo' id='todo' placeholder='Enter todo' class='myinput' value=<%= `${result.todotitle}` %> required/>
                <input type='submit' name='submit' id='add2do' class='addtodo' value='UpdateTodo'>
            </form>
        </div>
    </div>
</body>
</html>