* {
    margin:0;
    font-family:Helvetica, Sans-Serif;
}
body{
    background-color: rgb(241, 241, 241);

}

.image__header{
    height:43px;
    width:43px;
}

.addtodo{
    font-size:17px;
    padding:10px 20px 10px 20px;
    margin-top:10px;
    background-color:rgb(3, 150, 3);
    color:white;
    border:none;
    transition:background-color 1s;
    border-radius:5px;
}

.addtodo:hover{
    background-color:darkgreen;
}

.current__container{
    display:flex;
    flex-direction:column;
    background-color:white;
    border: 2px solid white;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.4);
    padding:20px;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

.img__btn{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:5px;
}

.icon__image{
    flex:0.3;
}

.todo__form{
    flex:0.7;
    display:flex;
    justify-content:space-between;
}

@media only screen and (max-width: 700px) {
    .current__container{
        width:100%;
        overflow-x:scroll;
    }

    .current__container::-webkit-scrollbar{
        display:none;
    }
    .icon__image{
        flex:0.2;
    }
    .todo__form{
        flex:0.8;
    }
    .myinput{
        margin-left:10px;
    }
}


.myinput{
    font-size:17px;
    width:50%;
    border:none;
    outline-width:0px;
    border-bottom:2px solid rgb(204, 201, 201);
    margin:0 10px 0 0;
    padding:0px;
    transition:all 1s;
}
.myinput:focus{
    width:90%;
}